@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
body {
    font-size: 14px;
    line-height: 100%;
    font-weight: 300;
    color: #696969;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.preload {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999999999999999;
}

#spinSquares {
    position: inherit;
    width: 234px;
    height: 28px;
    margin: auto;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#spinSquares #spinSquar_1 {
    margin-left: 0px;
    animation-delay: 0.1s;
}

#spinSquares #spinSquar_2 {
    margin-left: 28px;
    animation-delay: 0.2s;
}

#spinSquares #spinSquar_3 {
    margin-left: 56px;
    animation-delay: 0.3s;
}

#spinSquares #spinSquar_4 {
    margin-left: 84px;
    animation-delay: 0.4s;
}
#spinSquares #spinSquar_5 {
    margin-left: 112px;
    animation-delay: 0.5s;
}
#spinSquares #spinSquar_6 {
    margin-left: 140px;
    animation-delay: 0.6s;
}
#spinSquares #spinSquar_7 {
    margin-left: 168px;
    animation-delay: 0.7s;
}
#spinSquares #spinSquar_8 {
    margin-left: 196px;
    animation-delay: 0.8s;
}

@keyframes spinningSquares {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(0.8) rotate(360deg);
        background: cyan;
        margin-bottom: 100px;
    }
}

.spinSquar {
    position: absolute;
    top: 0;
    height: 28px;
    width: 28px;
    background: white;
    animation-name: spinningSquares;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform: scale(0.3);
}

.logo{
    display: block;
    position: absolute;
    bottom: auto;
}

#wave {
    background: black;
}

#span2 {
    background: linear-gradient(90deg, magenta, cyan);
}

.banner {
    background: url(images/bg.jpg) #696969;
    background-blend-mode: multiply, normal;
    display: flex;
    color: #d6d5d5;
    align-items: center;
    min-height: 969px;
    width: 100%;
    background-size: cover;
    text-align: center;
    animation-name: h2Appear;
    animation-duration: 1s;
}

.banner h2 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}

@keyframes h2Appear {
    0% {
        opacity: 0;
        margin-top: -100px;
    }
}

.banner p {
    font-size: 2rem;
    font-family: 'Cairo', sans-serif;
    line-height: 40px;
}

.scrolldown{
    position: absolute;
    left: calc(50% - 52px);
    margin-top: 15%;
}

.scrolldown img{
    margin-bottom: 20px;
}

.scrolldown p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.aboutus {
    padding: 5%;
    text-align: center;
    width: 100%;
}

.aboutus h2 {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size:3rem;
}

.aboutus p {
    padding: 20px 90px 0px;
    color: #696969;
    font-family: 'Cairo', sans-serif;
    font-size: 24px;
    line-height: 42px;
}

.team h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size:42px;
    text-transform: uppercase;
    color: black;
}
.team p {
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size:18px;
    color: black;
}

.team #av1 {
    width: 240px;
    border-radius: 240px;
}

.team hl {
    color: blueviolet;
}

.aboutus span {
    background: linear-gradient(90deg, magenta, cyan);
    display: inline-block;
    width: 160px;
    height: 4px;

}

#span3 {
    background: linear-gradient(90deg, red, gold);
    display: inline-block;
    width:120px;
    height: 4px;

}

.aboutus #why {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.aboutus #whytitle {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.advantage {
    text-align: center;
    width: 100%;
    background: #fff;
    margin: 3% 0;
    transition: .2s ease-out;
    border-radius: 20px;
    padding: 16px;
}

.advantage span {
    font-size: 60px;
}

.advantage p {
    color: #707070;
    font-size: 18px;
    line-height: 132%;
}

.advantage:hover{
    transition: .2s ease-out;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.modal-content {
    background: white;
    border-radius: 20px;
    outline: none;
}

.modal-title {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.modal-content .close {
    outline: none;
}

.features {
    background-color: black;
    text-align: center;
    color: white;
    padding: 60px 0;
    display: block;
}

.features svg {
    width: 128px;
}

h4 {
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;

}

.features p {
    font-size: 18px;
}

.head_black_content {
    padding-bottom: 20px;
    text-align: center;

}

.head_black_content span {
    background: linear-gradient(90deg, cyan, magenta);
    display: inline-block;
    width: 320px;
    height: 4px;
    margin-top: 32px;

}

.head_white_content span {
    background: linear-gradient(90deg, magenta, cyan);
    display: inline-block;
    width: 160px;
    height: 4px;
    margin-top: 32px;

}

.head_black_content .col-md-3 p {
    margin-top: 32px;
    font-family: 'Blinker', sans-serif;
    font-size: 20px;
    line-height:28px;
}

.features .col-md-3 h5 {
    font-size: 32px;
    color: cyan;
    text-shadow: 0 0 1em cyan;
    cursor: pointer;
}

.modal-content h3 {
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.modal-content .modal-header {
    border: none;
}

.modal-content .modal-footer {
    border: none;
}

.advantage svg {
  position: relative;
  width:8rem;
}

.team h4 {
    color: black;
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.team .col-md-3 .team-members h5 {
    color: black;
}

.team #name {
    color: black;
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
}

.team #alias {
    color: black;
    font-size: 22px;
    font-family: 'Fjalla One', sans-serif;
}

.team h6 {
    color: black;
    font-size: 20px;
    width: 100%;
    font-family: 'Blinker', sans-serif;
}

.team .team-members {
    text-align: center;
    width: 100%;
    background: #fff;
    margin: 8% 0;
    transition: .2s ease-out;
    border-radius: 20px;
    padding: 32px;
    height: 90%;
    cursor: pointer;
}

.team .team-members #langs-h {
    font-size: 24px;
    font-family: 'Staatliches', cursive;
}

.team {
    display: block;
    padding: 60px 0;
}

.team .team-members:hover {
    transition: .2s ease-out;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.team #l-html {
    border: 3px solid darkcyan;
    color: darkcyan;
    width: 120px;
    border-radius: 12px;
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
    padding: 5px;
    height: 32px;
    margin-left: 50%;
    transform: translate(-68%,0);
    list-style-type: none;
    cursor: pointer;
    transition: .2s ease-out;
}

.team #l-html:hover {
    background: darkcyan;
    color: white;
    transition: .2s ease-out;
}

.team #l-php {
    border: 3px solid rgb(35, 134, 216);
    color: rgb(35, 134, 216);
    width: 120px;
    border-radius: 12px;
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
    padding: 5px;
    height: 32px;
    margin-left: 50%;
    transform: translate(-68%,0);
    list-style-type: none;
    cursor: pointer;
    transition: .2s ease-out;
    margin-top: 8px;
}

.team #l-php:hover {
    background: rgb(35, 134, 216);
    color: white;
    transition: .2s ease-out;
}

.team #l-css {
    border: 3px solid gold;
    color: gold;
    width: 120px;
    border-radius: 12px;
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
    padding: 5px;
    height: 32px;
    margin-left: 50%;
    transform: translate(-68%,0);
    list-style-type: none;
    cursor: pointer;
    transition: .2s ease-out;
    margin-top: 8px;
}

.team #l-css:hover {
    background: gold;
    color: white;
    transition: .2s ease-out;
}

.team #l-java {
    border: 3px solid orange;
    color: orange;
    width: 120px;
    border-radius: 12px;
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
    padding: 5px;
    height: 32px;
    margin-left: 50%;
    transform: translate(-68%,0);
    list-style-type: none;
    cursor: pointer;
    transition: .2s ease-out;
    margin-top: 8px;
}

.team #l-java:hover {
    background: orange;
    color: white;
    transition: .2s ease-out;
}

.team #l-js {
    border: 3px solid orangered;
    color: orangered;
    width: 120px;
    border-radius: 12px;
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
    padding: 5px;
    height: 32px;
    margin-left: 50%;
    transform: translate(-68%,0);
    list-style-type: none;
    cursor: pointer;
    transition: .2s ease-out;
    margin-top: 8px;
}

.team #l-js:hover {
    background: orangered;
    color: white;
    transition: .2s ease-out;
}

.team #l-gml {
    border: 3px solid forestgreen;
    color: forestgreen;
    width: 120px;
    border-radius: 12px;
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
    padding: 5px;
    height: 32px;
    margin-left: 50%;
    transform: translate(-68%,0);
    list-style-type: none;
    cursor: pointer;
    transition: .2s ease-out;
    margin-top: 8px;
}

.team #l-gml:hover {
    background: forestgreen;
    color: white;
    transition: .2s ease-out;
}

.team #l-ctf {
    border: 3px solid mediumslateblue;
    color: mediumslateblue;
    width: 120px;
    border-radius: 12px;
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
    padding: 5px;
    height: 32px;
    margin-left: 50%;
    transform: translate(-68%,0);
    list-style-type: none;
    cursor: pointer;
    transition: .2s ease-out;
    margin-top: 8px;
}

.team #l-ctf:hover {
    background: mediumslateblue;
    color: white;
    transition: .2s ease-out;
}

.price {
   text-align: center;
   color: white;
   padding: 60px 0;
   display: block;
}

.price>div>div>p{
    padding: 20px;
}

.price-content-head {
    background: #0e1316;
    color: #ffffff;
    padding: 40px 0 30px;
    cursor: pointer;
}

.price-content-head h4 {
    padding-top: 6px;
    font-size: 26px;
    cursor: pointer;
}

.price-content-head p {
    margin-top: 25px;
    padding: 0 25px;
    font-size: 14px;
}

.price-content-body {
    background: #1f282c;
    padding: 45px;
    letter-spacing: 300;
    border-radius: 0 0 22px 22px;
    cursor: pointer;
}

.price-content s {
    color: magenta;
    text-shadow: 1px 1px 2px magenta, 0 0 1em purple;
}

.price-content h6 {
    color: lime;
    text-shadow: 1px 1px 2px lime, 0 0 1em green;
}

.price-content h5 {
    color: cyan;
    text-shadow: 1px 1px 2px cyan, 0 0 1em blueviolet;
}

.price-content-body p{
font-size: 15px;
padding-bottom: 20px;
color: #ffffff;
}

.price-content-body p span {
    font-size: 14px;
    font-weight: 700;
    margin-right: 2px;
}

.price-content-body a {
    background: linear-gradient(90deg,cyan,magenta);
    border-radius: 12px;
    color: #ffffff;
    border-right: 5px;
    font-weight: 700;
    padding: 10px 60px;
    text-decoration: none;
    transition: .2s ease-out;
}

.price-content-body a:hover {
    transition: .1s ease-out;
    background: white;
    color: black;
    border-radius: 60px;
}

.price .price-content {
    padding: 8px;
    letter-spacing: 300;
}

.price .price-content span {
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
}

.price .price-content-head{
    background: rgb(20,20,20);
    border-radius: 22px 22px 0 0;
}

.price .price-content-body p {
    color: rgb(255, 255, 255);
    font-family: 'Blinker', sans-serif;
}

.price .price-content:hover {
}

.price p {
    font-size: 24px;
    line-height: 32px;
}

.sinner1{
    padding: 9% 5%;
    text-align: center;
    background: #ebebeb;
    display: inline-block;
    min-height: 440px;
}

.sinner1 img{
    margin: 0 auto;
}

.sinner1 a img{
    display: inherit;
    width: 20%;
}

.team .team-slider {
    background: rgb(235,235,235);
}

.sinner1 h4{
    margin-top: 10px;
    font-size: 20px;
}

.team {
    text-decoration: none;
}

.sinner2{
    min-height: 440px;
    background: #ebebeb;
    text-align: left;
    padding: 15% 5%;
    display: inline-block;

}

.sinner2 h4{
    margin-top: 10px;
    font-size: 40px;
}

.team{
    padding-bottom: 90px;
}

.team .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    position: absolute;
    bottom: 50px;
    width: 100%;
    left: -34%;
}

.getintouch{
    
}

.textinput{
    margin: 20px 0;
    bottom: 52px;
    display: block;
}
.textinput p, .textmsg p{
    font-weight: 700;
    color: #696969;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.textinput p span, .textmsg p span{
    color: #5900ff;
    margin-left: 5px;
}

.getintouch form {
    text-align: center;
}

input[type="text"]{
    display: block;
    margin-left: 50%;
    transform: translate(-50%,0);
    transition: .1s ease-out;
    width: 120%;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    height: 40px;
    outline: 0;
    color: black;
    border: 0;
    border-radius:10px 10px 0 0;
    background: rgb(232,240,254);
    padding: 10px;
}

input[type="text"]:hover {
    transition: .1s ease-out;
    background: rgb(217, 231, 255);
}

input[type="text"]:focus {
    transition: .15s ease-out;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 12px 12px 0 0;
    border-bottom: 3px solid rgb(119, 0, 255);
    background: white;
    color: black;
    width: 160%;
}

.textmsg {
    bottom: 32px;
}

.textmsg textarea{
    transition: .1s ease-out;
    border: 0;
    background: rgb(232,240,254);
    border-radius:10px 10px 0 0;
    padding: 15px;
    width: 95%;
    height: 80px;
    outline: 0;
    margin-left: 50%;
    transform: translate(-50%,0);
    padding-top: 10px;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
}

.textmsg textarea:focus {
    transition: .15s ease-out;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 16px 16px 0 0;
    border-bottom: 3px solid rgb(119, 0, 255);
    background: white;
    color: black;
    width: 100%;
}

.textmsg textarea:hover {
    transition: .15s ease-out;
}

.getintouch form{
    width: 30%;
    margin: 0 auto;
}

.submit {
    width: 205px;
    height: 50px;
    letter-spacing: 1px;
    background: rgb(132, 0, 255);
    border: 3px solid #470099;
    border-radius: 14px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: block;
    margin: 50px auto 0;
    font-weight: 700;
    outline: none;
    text-transform: uppercase;
    transition: 0.1s ease-out;
}

.submit:hover{
    color: rgb(132, 0, 255);
    transition: 0.15s ease-out;
    background: white;
    border-radius: 18px;
    width: 235px;
    border: 3px solid rgb(132, 0, 255);
    outline: none;
}

#contact-p {
    color: #696969;
    font-family: 'Blinker', sans-serif;
    font-size: 24px;
    text-align: center;
}

#contact-h3 {
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
}

#contact-h3-u {
    color: black;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
}

#contact-h2 {
    font-family: 'Blinker', sans-serif;
    color: #cacaca;
    text-align: center;
    font-size: 24px;
}

#c-layout {
    width: 1024px;
    image-rendering: optimizeSpeed;
    position: absolute;
}

.head_white_content span {
   position: relative;
   margin-left: 50%;
   transform: translate(-50%,0);
}

.map {
    margin-top: 52px;
}

iframe {
    border-radius:32px;
    margin-left: 50%;
    transform: translate(-50%,0);
}

.map span {
    margin-left: 10px;
    font-weight: 700;
    color: #f15324;
    font-size: 24px;
}
.accordion-open span::before {
    font-family: 'Poppins', sans-serif;
    content: "\e873";
}

.accordion {
    padding: 128px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(45deg, #f8a261, #6e9fc9), url("images/bg1.jpg");
    background-blend-mode: color-burn;
}

footer {
    background: #000;
    text-align: center;
    padding: 64px;
}

footer h4 {
    color: white;
}

footer p {
    font-family: 'Blinker', sans-serif;
    font-size: 20px;
    color: #9e9e9e;
}

footer a {
    color: cyan;
}

.textinput:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}

.textinput:focus .tooltiptext {
    opacity: 0;
    visibility: hidden;
}

.tooltiptext {
    transition: .2s ease-out;
}

.textinput {
    position: relative;
    display: inline-block;
}

::selection {
    background: #d08aff; /* Safari */
    }
    ::-moz-selection {
    background: #d08aff; /* Firefox */
    }

    ::selection h1 {
        color: white;
    }

    ::selection h2 {
        color: white;
    }

    ::selection h3 {
        color: white;
    }

    ::selection h4 {
        color: white;
    }

    ::selection h5 {
        color: white;
    }

    ::selection h6 {
        color: white;
    }

    ::selection p {
        color: white;
    }

    ::selection a {
        color: white;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }
     
    ::-webkit-scrollbar-track {
        background: black;
        border-radius: 10px;
    }
     
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }

    #filters{
        margin: 1% auto;
        width: 100%;
        text-align: center;
    }
    
    #filters li{
        display: inline-block;
        padding: 5px 10px;
    }
    
    .filter{
        display: block;
        color: #3d3d3d;
        cursor: pointer;
        font-family: sans-serif;
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
    }
    
    .filter.active{
        font-weight: 700;
        color: #3d3d3d;
        border-bottom: 1px solid #e84c3d;
    }
    
    #portfoliolist .portfolio{
        border: none !important;
        width: 20%;
        float: left;
        overflow: hidden;
        display: none;
    }
    
    .portfolio-wrapper{
        overflow: hidden;
        position: relative !important;
        cursor: pointer;
    }
    
    .portfolio img{
        width: 100%;
        display: block;
        position: relative;
    }
    
    .imgDisc2{
        position: absolute;
        color: #fff;
        width: 100%;
        background: rgba(0,0,0,0.5);
        font-size: 18px;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        padding-top: 120px;
        cursor: pointer;
        transition: 0.5s;
        top: 0;
        left: 0;
        bottom: 0;
    }
    
    .imgDisc2 h1{
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .portfolio-wrapper:hover .imgDisc2{
        visibility: visible;
        opacity: 1;
    }

    .filter:hover {
        transition: .1s ease-out;
        color: cyan;
    }

    .accordion-open span::before{
        font-family: 'Linearicons-Free';
        content: "\e873";
    }
    
    .accordion-close span::after{
        font-family: 'Linearicons-Free';
        content: "\e874";
    }

    .map{
        background-color: #171f23;
        text-align: center;
        color: #f6f6f6;
        padding: 20px 0 0;
    }
    
    .map h3{
        padding-bottom: 20px;
        font-size: 24px;
    }
    
    .map span{
        margin-left: 10px;
        font-weight: 700;
        color: #f15324;
        font-size: 24px;
    }